aws_region              = "us-west-2"
project_name            = "final-project"
environment             = "dev"

eks_public_access_cidrs = ["0.0.0.0/0"]
eks_node_instance_types = ["t3.medium"]
eks_node_disk_size      = 20
eks_node_desired_size   = 1
eks_node_min_size       = 1
eks_node_max_size       = 1
eks_enabled_cluster_log_types = ["api", "audit", "authenticator"]
cloudwatch_log_retention_days = 7

tags = {
  Owner = "your-name"
}
